@import '../../animation/pulse';

div {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: blue;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: pulse 1s infinite;
}