.grayscale {
  webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(129deg) brightness(150%) contrast(150%);
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(129deg) brightness(150%) contrast(150%);
}