@include keyframes(wiggle) {
  0% { transform: rotate(0); }
  80% { transform: rotate(0); }
  85% { transform: rotate(10deg); }
  95% { transform: rotate(-10deg); }
  100% { transform: rotate(0); }
}

.animation.wiggle {
  animation-name: wiggle;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation: wiggle 2.5s infinite;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}